.about-video {
  position: relative;
}

.about-text {

  &.section--active {
    .about-text__container {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &--desktop {
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &--mobile {
    @media (min-width: 1025px) {
      display: none;
    }
  }

  @media (min-width: 1025px) {
    min-height: var(--vh, 100vh);
  }

  &__container {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: inherit;
    padding-top: 80px;
    padding-bottom: 80px;
    transition: padding 0.3s;

    @media (max-width: 1024px) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;

    @media (max-height: 1200px) {
      margin-bottom: 20px;
    }

    @media (max-width: 1024px) {
      min-height: var(--vh, 100vh);
      padding: 50px 30px;
      margin-bottom: 0;
    }
  }

  &__title {
    max-width: 1100px;
    margin: 0 auto 30px;
    font-size: 24px;
    line-height: 40px;
    line-height: 44.63px;
    text-align: center;
    transition: font-size 0.3s, line-height 0.3s;

    &.active {
      margin-bottom: 80px;

      @media (max-height: 1200px) {
        margin-bottom: 40px;
      }

      @media (max-width: 576px) {
        margin-bottom: 30px;
        font-size: 13px;
        line-height: 20px;
      }
    }

    @media (max-width: 576px) {
      font-size: 18px;
      line-height: 29px;
    }

    @media (max-width: 360px) {
      font-size: 13px;
      line-height: 20px;
    }
  }

  &__more {
    position: relative;
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 auto;
    transition: transform 0.3s;

    @media (max-width: 360px) {
      width: 20px;
      height: 20px;
    }

    &.active {
      @media (any-hover: hover) {
        &:hover {
          &:after {
            opacity: 1;
          }
        }
      }

      &:after {
        opacity: 0;
      }
    }

    @media (min-width: 1025px) {
      &:not(.about-text__more.active) {
        &:hover {
          transform: rotate(90deg);
        }
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: var(--color-gray);
      width: 100%;
      height: 2px;
      transition: background-color 0.3s;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--color-gray);
      width: 2px;
      height: 100%;
      transition: opacity 0.3s, background-color 0.3s;
    }
  }

  &__cols {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 60px;

    @media (max-height: 1200px) {
      margin-bottom: 30px;
    }

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    @media (max-width: 576px) {
      margin-bottom: 30px;
    }
  }

  &__txt {
    max-width: 777px;

    @media (max-width: 1024px) {
      max-width: 100%;
      text-align: center;
    }

    &:not(:last-child) {
      margin-right: 50px;

      @media (max-width: 1024px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    p {
      margin: 0;
      font-size: 16px;
      line-height: 25.5px;
      letter-spacing: 0.145em;
      color: var(--color-gray);
      transition: color 0.3s;

      @media (max-height: 1200px) {
        line-height: 24px;
      }

      @media (max-width: 576px) {
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 0.1em;
      }

      &:not(:last-child) {
        margin-bottom: 30px;

        @media (max-width: 576px) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.about-benefits {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1024px) {
    flex-direction: column;
    min-height: var(--vh, 100vh);
    padding: 80px 30px;
    align-self: center;
    justify-content: space-around;
  }

  @media (max-width: 576px) {
    padding: 50px 30px;
  }

  &__item {

    @media (max-width: 1024px) {
      text-align: center;
    }

    &:not(:last-child) {
      margin-right: 50px;

      @media (max-width: 1024px) {
        margin-right: 0;
        margin-bottom: 50px;
      }

      @media (max-width: 576px) {
        margin-bottom: 30px;
      }
    }
  }

  &__title {
    margin-bottom: 24px;

    @media (max-height: 1200px) {
      margin-bottom: 20px;
    }

    @media (max-width: 576px) {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.285em;
      margin-bottom: 26px;
    }
  }

  &__desc {
    margin: 0;
    font-size: 18px;
    line-height: 31.09px;
    color: var(--color-gray);
    letter-spacing: 0.05em;
    max-width: 454px;
    transition: color 0.3s;

    @media (max-width: 1024px) {
      margin: 0 auto;
      max-width: 800px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
      line-height: 27.63px;
    }
  }
}