.fancybox__backdrop {
  background: rgba(#3D3B38, 0.85);
}

.fancybox__progress {
  height: 2px;
}

.carousel__button {
  box-shadow: none !important;
}

.fancybox__carousel .fancybox__nav button.carousel__button {
  box-shadow: none;
  display: inline-block;
  top: 50%;
  z-index: 4;
  width: 50px;
  height: 50px;

  @media (max-width: 1024px) {
    transform: none;
  }

  @media (max-width: 576px) {
    width: 30px;
    height: 42px;
  }

  svg {
    display: none;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 3px;
    background-color: #fff;

    @media (max-width: 576px) {
      width: 24px;
    }
  }
}