.map {

  &__container {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;

    @media (max-width: 768px) and (max-height: 800px) {
      height: auto;
    }

    @media (max-width: 1024px) {
      padding: 70px 0 50px;
    }

    @media (max-width: 768px) {
      display: block;
      padding: 0;
    }
  }

  &__title {
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 100px;
    max-width: 245px;

    @media (max-width: 1720px) {
      left: 30px;
    }

    @media (max-width: 768px) {
      left: 0;
      right: 0;
      font-size: 20px;
      text-align: center;
      line-height: 25px;
      max-width: 100%;
    }
  }

  &__wrapper {
    width: 90%;
    padding-top: 50px;

    @media (max-width: 1024px) {
      padding-top: 50px;
    }

    @media (max-width: 768px) {
      overflow-y: auto;
      overflow-y: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;
      padding-top: 0;
      width: 100%;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__inner {
    position: relative;

    @media (max-width: 768px) {
      width: 1600px;
    }
  }

  &__image {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 56.25%;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      fill: #ececec;
      transition: fill 0.3s;
    }
  }

  &-point {
    position: absolute;
    cursor: pointer;

    &:hover {
      .map-point__content {
        opacity: 1;
        visibility: visible;
      }
    }

    &__content {
      position: absolute;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s, visibility 0.5s;

      &.bottom-right {
        right: 20px;
        bottom: 0;
        padding-bottom: 26px;
      }

      &.bottom-left {
        left: 0;
        bottom: 0;
        padding-bottom: 30px;
      }

      &.bottom-center {
        padding-bottom: 30px;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }

    &__icon {
      display: block;
      width: 24px;
      height: 26px;
      fill: var(--color-light-gray);
      cursor: pointer;
      transition: fill 0.3s;

      @media (max-width: 1024px) {
        width: 16px;
        height: 18px;
      }

      @media (max-width: 768px) {
        width: 24px;
        height: 26px;
      }

      svg {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-slider {
    width: 343px;
    height: 179px;

    @media (max-width: 576px) {
      width: 309px;
      height: 160px;
    }

    &__btn {
      &--prev {
        left: 2px;
      }

      &--next {
        right: 2px;
      }
    }

    &__slide {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &__image {
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__title {
      display: inline-block;
      margin: 0;
      font-weight: 600;
      position: absolute;
      bottom: 15px;
      padding: 0 50px;
      text-align: center;
      z-index: 2;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.285em;
      @include hover;
    }
  }
}

.dark-mode .map__image svg {
  fill: #676767;
}