.projects {

  &.list {
    .projects-list {
      display: block;
    }
  }

  &.grid {
    .projects-grid {
      display: grid;
    }
  }

  &__container {
    padding-bottom: 200px;

    @media (max-width: 1024px) {
      padding-bottom: 150px;
    }

    @media (max-width: 768px) {
      padding-bottom: 100px;
    }

    @media (max-width: 576px) {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }
  }

  &-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 54px;

    @media (max-width: 1024px) {
      justify-content: space-between;
    }

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }

    @media (max-width: 576px) {
      margin-bottom: 19px;
    }
  }

  &-tabs {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 32px;
    padding-right: 31px;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: 1024px) {
      margin-left: 0;
      padding-left: 0;
    }

    @media (max-width: 1024px) {
      position: absolute;
      z-index: 50;
      top: calc(100% + 0px);
      left: 5;
      flex-direction: column;
      align-items: flex-start;
      background-color: var(--color-white);
      width: 100%;
      opacity: 0;
      visibility: hidden;
      padding: 10px 0;
      transition: background-color 0.3s, opacity 0.3s, visibility 0.3s;
    }

    &__current {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      letter-spacing: 0.185em;
      height: 22px;
      color: var(--color-gray);
      transition: color 0.3s;

      &.active {
        svg {
          transform: rotate(-180deg);
        }
      }

      @media (max-width: 576px) {
        font-size: 10px;
        line-height: 12px;
        height: auto;
      }

      svg {
        display: block;
        width: 14px;
        height: 14px;
        fill: currentColor;
        margin-left: 4px;
        transition: transform 0.3s;
      }

      @media (min-width: 1025px) {
        display: none;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1.1px;
      height: 100%;
      background-color: var(--color-gray);
      transition: background-color 0.3s;

      @media (max-width: 1024px) {
        display: none;
      }
    }

    &__item {
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:not(:last-child) {
        margin-right: 32px;

        @media (max-width: 1024px) {
          margin-right: 0;
          margin-bottom: 12px;
        }

        @media (max-width: 576px) {
          margin-bottom: 7px;
        }
      }
    }

    &__btn {
      color: var(--color-gray);
      text-transform: uppercase;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      letter-spacing: 0.185em;
      height: 22px;
      transition: color 0.3s, opacity 0.3s;

      &:not(.active) {
        &:hover {
          opacity: 0.5;
        }
      }

      @media (max-width: 576px) {
        font-size: 10px;
        line-height: 12px;
        height: auto;
      }

      &.active {
        text-decoration: underline;
        color: #8f8f8f;
      }
    }
  }

  &-toggle {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: var(--color-gray);
    letter-spacing: 0.09em;
    text-transform: uppercase;
    transition: color 0.3s;
    @include hover;

    @media (max-width: 576px) {
      font-size: 10px;
      line-height: 12px;
      height: auto;
    }
  }

  &__toggle-theme {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding-left: 32px;
    margin-left: 32px;
    height: 22px;
    color: var(--color-gray);
    transition: color 0.3s;

    @media (max-width: 1024px) {
      margin-left: 0;
      padding-left: 0;
      min-width: 110px;
    }

    @media (max-width: 576px) {
      font-size: 10px;
      min-width: 82px;
      line-height: 12px;
      height: auto;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1.1px;
      height: 100%;
      background-color: var(--color-gray);
      transition: background-color 0.3s;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  &-list {
    display: none;

    @media (max-width: 768px) {
      border-top: 1px solid #6D6D6D;
    }

    &__top {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      border-bottom: 1px solid #6D6D6D;

      @media (max-width: 768px) {
        display: none;
      }
    }

    &__value {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      letter-spacing: 0.09em;
      height: 22px;
      color: var(--color-gray);
      transition: color 0.3s;

      &:nth-child(1) {
        flex: 0 0 32%;

        @media (max-width: 1200px) {
          flex: 0 0 27%
        }
      }

      &:nth-child(2) {
        flex: 0 0 20.7%;
      }

      &:nth-child(3) {
        flex: 0 0 21%;
      }

      &:nth-child(4) {
        flex: 0 0 16%;
      }

      svg {
        display: block;
        width: 14px;
        height: 14px;
        fill: currentColor;
        margin-left: 4px;
      }
    }
  }

  &-items {
    display: flex;
    flex-direction: column;
  }

  &-item {
    position: relative;
    height: 89px;
    align-items: center;
    border-bottom: 1px solid #6D6D6D;
    display: none;

    &.active {
      display: flex;
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
    }

    @media (max-width: 576px) {
      height: 77px;
    }

    @media (min-width: 769px) {
      &:hover {
        .projects-item__image {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &__link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    * {
      font-size: 14px;
      line-height: 17px;
      font-weight: 500;
      color: var(--color-gray);
      letter-spacing: 0.09em;
      text-transform: uppercase;
      transition: color 0.3s;

      @media (max-width: 576px) {
        font-size: 10px;
        line-height: 12px;
      }
    }

    &__image {
      position: absolute;
      z-index: 20;
      top: 50%;
      left: 15%;
      transform: translateY(-50%);
      width: 494px;
      height: 197px;
      flex-shrink: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s, visibility 0.5s;

      img {
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        object-fit: cover;
      }
    }

    &__title {
      flex: 0 0 32%;

      @media (max-width: 1200px) {
        flex: 0 0 27%
      }

      @media (max-width: 768px) {
        flex: 0 0 100%;
        margin-bottom: 10px;
      }
    }

    &__country {
      flex: 0 0 20.7%;

      @media (max-width: 768px) {
        flex: auto;
      }
    }

    &__location {
      flex: 0 0 21%;

      @media (max-width: 768px) {
        flex: auto;
      }
    }

    &__year {
      flex: 0 0 16%;

      @media (max-width: 768px) {
        flex: auto;
      }
    }
  }

  &-grid {
    display: none;
    gap: 6%;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 1500px) {
      gap: 80px;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1200px) {
      gap: 50px;
    }

    @media (max-width: 1024px) {
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      gap: 24px;
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
}

.grid-item {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;

  @media (max-width: 576px) {
    height: 500px;
  }

  @media (max-width: 390px) {
    height: 390px;
  }

  &.active {
    display: block;
  }

  &:hover {
    &:before {
      opacity: 1;
      visibility: visible;
    }

    .grid-item__content {
      opacity: 1;
      visibility: visible;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(#000, 0.5);
    transition: opacity 0.3s, visibility 0.3s;

    @media (max-width: 768px) {
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: 1024px) {
      background-color: rgba(#000, 0.2);
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    @media (max-width: 1024px) {
      opacity: 1;
      visibility: visible;
    }
  }

  &__caption {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.21em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 4px;
  }

  &__title {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    line-height: 23px;
    color: #fff;
  }

  &__desc {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 12px;
    letter-spacing: 0.05em;

    @media (max-width: 576px) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__link {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: underline;
    text-decoration-skip: ink;
    transition: opacity 0.3s;

    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }
}