.team {
  min-height: var(--vh, 100vh);

  &__container {
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: inherit;

    @media (max-width: 1366px) {
      padding-top: 40px;
      padding-bottom: 25px;
    }

    @media (max-width: 1024px) {
      padding: 70px 15px 50px;
    }

    @media (max-width: 576px) {
      padding: 30px;
      padding-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @media (max-width: 768px) {
      margin-bottom: 60px;
    }

    @media (max-width: 576px) {
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &-slider {
    position: relative;
    padding: 0 70px;

    @media (max-width: 1024px) {
      padding: 0 65px;
    }

    @media (max-width: 576px) {
      padding: 5px 0;
    }

    &__pag {
      justify-content: center;
      margin-top: 34px;

      .swiper-pagination-bullet {
        background-color: #cdcdcd;

        &:hover {
          background-color: #8f8f8f;
        }

        &-active {
          background-color: #8f8f8f;
        }
      }

      @media (min-width: 577px) {
        display: none;
      }
    }

    &__btn {

      &:before,
      &:after {
        background-color: var(--color-gray);
      }

      @media (max-width: 576px) {
        display: none;
      }

      &--prev {
        left: 0;
      }

      &--next {
        right: 0;
      }
    }
  }

  &-item {
    max-width: 100%;

    &__image {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      margin-bottom: 37px;

      @media (max-width: 1366px) {
        margin-bottom: 30px;
      }

      @media (max-width: 576px) {
        object-position: 0% 20%;
        height: 260px;
        margin-bottom: 25px;
      }
    }

    &__name {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: var(--color-gray);
      letter-spacing: 0.285em;
      text-transform: uppercase;
      transition: color 0.3s;

      @media (max-width: 576px) {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
      }
    }

    &__job-title {
      display: block;
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
      color: var(--color-gray);
      letter-spacing: 0.285em;
      text-transform: uppercase;
      transition: color 0.3s;

      @media (max-width: 576px) {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
      }
    }
  }
}