<div class="section about-video">
  <div class="g-player">
    <video id="video" src="about.mp4" playsinline class="g-player__video" poster="img/architecture.jpg"></video>
    <button class="btn-reset g-player__play" id="play-video">
      <svg>
        <use xlink:href="img/sprite.svg#play"></use>
      </svg>
    </button>
    <div class="g-player__controls">
      <button class="btn-reset g-player__btn" id="stop-video">
        <svg>
          <use xlink:href="img/sprite.svg#pause"></use>
        </svg>
      </button>
      <button class="btn-reset g-player__btn" id="mute-video">
        <svg>
          <use xlink:href="img/sprite.svg#volume"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="switcher">
    <div class="switcher-lang">
      <a href="#" class="switcher-lang__link">Rus</a>
      <a class="switcher-lang__link switcher-lang__link--current">Eng</a>
    </div>
    <button class="btn-reset toggle-theme">Light mode</button>
  </div>
  <span class="scroll-down"></span>
</div>
<section class="section fp-auto-height about-text">
  <div class="container about-text__container">
    <div class="about-text__top" data-show-more>
      <h1 class="g-title g-title--sm about-text__title" data-show-title>we&nbsp;believe architecture <br /> is&nbsp;not&nbsp;just&nbsp;the&nbsp;creation of a building, but the&nbsp;creation of unique spaces that inspire humans.</h1>
      <div class="about-text__cols" data-show-content>
        <div class="about-text__txt">
          <p>Shamsudin Kerimov graduated from the Moscow Institute of Architecture. Since 2011 he has been managing his own architectural bureau. Markha's teacher. MEMBER OF THE UNION OF MOSCOW ARCHITECTS. </p>
          <p>The Shamsudin Kerimov Architectural Bureau is a regular participant and winner of architectural competitions, mainly foreign: Instant House 2013 School, Cultural Center in Guadalajara Competition Entry, World Stage Design (2013, England), Minipolis Khimki -2013, Innovative Bioclimatic European School Complex in Crete "(2012, Crete), International Competition for the development of the architectural concept of a business center with a hotel complex InterContinental in Yerevan (2010)</p>
        </div>
        <div class="about-text__txt">
          <p>Competition "Archiperegorodka" - 2nd place (2009), competition for the development of the concept of "School of the Future", competition for the design of housing in the Technopark area, Skolkovo, competition "Active House" - in the top ten.</p>
          <p>Shamsudin Kerimov's projects were published in the print editions of the Financial Times (November 15, 2013, England), Project Russia 69 (2013), Project Russia 66 (2013), Project Russia 63 (2012) .), Drevo & stavby (February 2012, Czech Republic), Building for Bouwkunde (2009, Holland), Domus 04-05-09 (dated May 4, 2009, Russia) and on sites dedicated to architecture: archdaily.com, designboom.com, archi.ru.</p>
        </div>
      </div>
      <button class="btn-reset about-text__more" data-show-button aria-label="Show more text"></button>
    </div>
    <ul class="list-reset about-benefits">
      <li class="about-benefits__item">
        <h2 class="g-title g-title--sm about-benefits__title">Strength 01</h2>
        <p class="about-benefits__desc">Full solution Bureau, from construction to interior, working with amazing projects for clients from all over the world. </p>
      </li>
      <li class="about-benefits__item">
        <h2 class="g-title g-title--sm about-benefits__title">Strength 02</h2>
        <p class="about-benefits__desc">Full solution Bureau, from construction to interior, working with amazing projects for clients from all over the world. </p>
      </li>
      <li class="about-benefits__item">
        <h2 class="g-title g-title--sm about-benefits__title">Strength 03</h2>
        <p class="about-benefits__desc">Full solution Bureau, from construction to interior, working with amazing projects for clients from all over the world. </p>
      </li>
    </ul>
  </div>
</section>