<footer class="section fp-auto-height footer" id="footer">
  <div class="container footer__container">
    <button class="btn-reset footer__scroll-top" aria-label="Scroll to top"></button>
    <div class="footer__top">
      <h2 class="g-title g-title--lg footer__title">Talk to us</h2>
      <div class="footer__items">
        <div class="footer-item">
          <span class="footer-item__title">Inquires</span>
          <a href="mailto:project@kerimov.su"
            class="footer-item__link footer-item__link--underline">project@kerimov.su</a>
        </div>
        <div class="footer-item">
          <span class="footer-item__title">Press</span>
          <a href="mailto:press@kerimov.su" class="footer-item__link footer-item__link--underline">press@kerimov.su</a>
        </div>
        <div class="footer-item">
          <span class="footer-item__title">Carreer</span>
          <a href="mailto:career@kerimov.su"
            class="footer-item__link footer-item__link--underline">career@kerimov.su</a>
        </div>
        <div class="footer-item">
          <div class="footer-item__row">
            <span class="footer-item__caption">phone</span>
            <a href="tel:+74993913073" class="footer-item__link">+7 499 391 30 73</a>
          </div>
          <div class="footer-item__row">
            <span class="footer-item__caption">social</span>
            <ul class="list-reset g-social footer__social">
              <li class="g-social__item">
                <a href="#" class="g-social__link">
                  <svg>
                    <use xlink:href="img/sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="g-social__item">
                <a href="#" class="g-social__link">
                  <svg>
                    <use xlink:href="img/sprite.svg#pinterest"></use>
                  </svg>
                </a>
              </li>
              <li class="g-social__item">
                <a href="#" class="g-social__link">
                  <svg>
                    <use xlink:href="img/sprite.svg#youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="g-social__item">
                <a href="#" class="g-social__link">
                  <svg>
                    <use xlink:href="img/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="g-social__item">
                <a href="#" class="g-social__link">
                  <svg>
                    <use xlink:href="img/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="g-social__item">
                <a href="#" class="g-social__link">
                  <svg>
                    <use xlink:href="img/sprite.svg#vk"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <svg class="footer__logo">
        <use xlink:href="img/sprite.svg#logo-circle"></use>
      </svg>
      <div class="footer__right">
        <p class="footer__desc">Please, be aware that the intellectual property rights to all the images, designs and other content on this Website belong to Kerimov Architectural Bureau. You may request permission to use them by contacting us at: press@kerimov.su</p>
        <div class="footer-links">
          <a href="#" class="footer-links__link">Privacy Notice</a>
          <a href="#" class="footer-links__link">Terms of use</a>
        </div>
        <span class="footer__copy">COPYRIGHT 2021. ALL RIGHTS RESERVED</span>
      </div>
    </div>
  </div>
</footer>