<section class="hero">
  <h1 class="visually-hidden">Kerimov Architects</h1>
  <div class="swiper hero-slider">
    <button class="btn-reset slider-nav__btn slider-nav__btn--prev hero-slider__btn--prev swiper-button-disabled" aria-label="Prev"></button>
    <button class="btn-reset slider-nav__btn slider-nav__btn--next hero-slider__btn--next" aria-label="Next"></button>
    <div class="swiper-wrapper">
      <div class="swiper-slide slide">
        <picture>
          <source srcset="img/main-bg.avif" type="image/avif">
          <source srcset="img/main-bg.webp" type="image/webp">
          <img loading="lazy" src="img/main-bg.jpg" class="slide__image" alt="Moscow hill home">
        </picture>
        <div class="slide__content slide__content--offset">
          <h2 class="slide__title">Moscow hill home</h2>
          <a href="project.html" class="slide__link">discover the Project</a>
        </div>
      </div>
      <div class="swiper-slide slide">
        <picture>
          <source srcset="img/architecture.avif" type="image/avif">
          <source srcset="img/architecture.webp" type="image/webp">
          <img loading="lazy" src="img/architecture.jpg" class="slide__image" alt="Architecture">
        </picture>
        <div class="slide__content slide__content--offset">
          <h2 class="slide__title">Architecture</h2>
          <a href="project.html" class="slide__link">View projects</a>
        </div>
      </div>
      <div class="swiper-slide slide">
        <picture>
          <source srcset="img/main-bg.avif" type="image/avif">
          <source srcset="img/main-bg.webp" type="image/webp">
          <img loading="lazy" src="img/main-bg.jpg" class="slide__image" alt="Moscow hill home">
        </picture>
        <div class="slide__content slide__content--offset">
          <h2 class="slide__title">Moscow hill home</h2>
          <a href="project.html" class="slide__link">discover the Project</a>
        </div>
      </div>
      <div class="swiper-slide slide">
        <picture>
          <source srcset="img/architecture.avif" type="image/avif">
          <source srcset="img/architecture.webp" type="image/webp">
          <img loading="lazy" src="img/architecture.jpg" class="slide__image" alt="Architecture">
        </picture>
        <div class="slide__content slide__content--offset">
          <h2 class="slide__title">Architecture</h2>
          <a href="project.html" class="slide__link">View projects</a>
        </div>
      </div>
      <div class="swiper-slide slide">
        <picture>
          <source srcset="img/main-bg.avif" type="image/avif">
          <source srcset="img/main-bg.webp" type="image/webp">
          <img loading="lazy" src="img/main-bg.jpg" class="slide__image" alt="Moscow hill home">
        </picture>
        <div class="slide__content slide__content--offset">
          <h2 class="slide__title">Moscow hill home</h2>
          <a href="project.html" class="slide__link">discover the Project</a>
        </div>
      </div>
    </div>
    <div class="slider-pagination hero-slider__pag"></div>
  </div>
  <div class="switcher">
    <div class="switcher-lang">
      <a href="#" class="switcher-lang__link">Rus</a>
      <a class="switcher-lang__link switcher-lang__link--current">Eng</a>
    </div>
    <button class="btn-reset toggle-theme">Light mode</button>
  </div>
  <span class="scroll-down"></span>
</section>