<section class="map">
  <div class="container map__container">
    <h2 class="g-title g-title--md map__title">projects worldwide</h2>
    <div class="map__wrapper">
      <div class="map__inner">
        <picture>
          <source srcset="img/map.avif" type="image/avif">
          <source srcset="img/map.webp" type="image/webp">
          <img loading="lazy" src="img/map.jpg" class="map__image" width="1684" height="892" alt="projects worldwide">
        </picture>
        <div class="map-point" style="top: 40%; left: 45%;">
          <svg class="map-point__icon">
            <use xlink:href="img/sprite.svg#shape"></use>
          </svg>
          <span class="map-point__content">Грузия</span>
        </div>
        <div class="map-point" style="top: 21%; left: 51.5%;">
          <svg class="map-point__icon">
            <use xlink:href="img/sprite.svg#shape"></use>
          </svg>
          <span class="map-point__content">Грузия</span>
        </div>
        <div class="map-point" style="top: 34%; left: 51.2%;">
          <svg class="map-point__icon">
            <use xlink:href="img/sprite.svg#shape"></use>
          </svg>
          <span class="map-point__content">Грузия</span>
        </div>
        <div class="map-point" style="top: 29%; left: 57.7%;">
          <svg class="map-point__icon">
            <use xlink:href="img/sprite.svg#shape"></use>
          </svg>
          <span class="map-point__content">Грузия</span>
        </div>
        <div class="map-point" style="top: 14.5%; left: 62.1%;">
          <svg class="map-point__icon">
            <use xlink:href="img/sprite.svg#shape"></use>
          </svg>
          <span class="map-point__content">Грузия</span>
        </div>
      </div>
    </div>
  </div>
</section>