<section class="section fp-auto-height map">
  <div class="map__container">
    <div class="container">
      <h2 class="g-title g-title--md map__title">projects worldwide</h2>
    </div>
    <div class="map__wrapper">
      <div class="map__inner">
        <div class="map__image">
          <svg>
            <use xlink:href="img/sprite.svg#map"></use>
          </svg>
        </div>
        <div class="map-point" style="top: 30%; left: 46.5%;">
          <svg class="map-point__icon">
            <use xlink:href="img/sprite.svg#shape"></use>
          </svg>
          <div class="map-point__content bottom-right">
            <div class="swiper map-slider">
              <button class="btn-reset slider-nav__btn slider-nav__btn--prev map-slider__btn--prev swiper-button-disabled" aria-label="Prev"></button>
              <button class="btn-reset slider-nav__btn slider-nav__btn--next map-slider__btn--next" aria-label="Next"></button>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="map-slider__slide">
                    <picture>
                      <source srcset="img/house.avif" type="image/avif">
                      <source srcset="img/house.webp" type="image/webp">
                      <img loading="lazy" src="img/house.jpg" class="map-slider__image" width="343" height="179" alt="Project name 1500 mt2">
                    </picture>
                    <a href="project.html" class="map-slider__title">Project name 1500 mt<sup>2</sup></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="map-slider__slide">
                    <picture>
                      <source srcset="img/house.avif" type="image/avif">
                      <source srcset="img/house.webp" type="image/webp">
                      <img loading="lazy" src="img/house.jpg" class="map-slider__image" width="343" height="179" alt="Project name 1500 mt2">
                    </picture>
                    <a href="project.html" class="map-slider__title">Project name 1500 mt<sup>2</sup></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="map-point" style="top: 31%; left: 48%;">
          <svg class="map-point__icon">
            <use xlink:href="img/sprite.svg#shape"></use>
          </svg>
          <div class="map-point__content bottom-left">
            <div class="swiper map-slider">
              <button class="btn-reset slider-nav__btn slider-nav__btn--prev map-slider__btn--prev swiper-button-disabled" aria-label="Prev"></button>
              <button class="btn-reset slider-nav__btn slider-nav__btn--next map-slider__btn--next" aria-label="Next"></button>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="map-slider__slide">
                    <picture>
                      <source srcset="img/house.avif" type="image/avif">
                      <source srcset="img/house.webp" type="image/webp">
                      <img loading="lazy" src="img/house.jpg" class="map-slider__image" width="343" height="179" alt="Project name 1500 mt2">
                    </picture>
                    <a href="project.html" class="map-slider__title">Project name 1500 mt<sup>2</sup></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="map-slider__slide">
                    <picture>
                      <source srcset="img/house.avif" type="image/avif">
                      <source srcset="img/house.webp" type="image/webp">
                      <img loading="lazy" src="img/house.jpg" class="map-slider__image" width="343" height="179" alt="Project name 1500 mt2">
                    </picture>
                    <a href="project.html" class="map-slider__title">Project name 1500 mt<sup>2</sup></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="map-point" style="top: 22%; left: 54%;">
          <svg class="map-point__icon">
            <use xlink:href="img/sprite.svg#shape"></use>
          </svg>
          <div class="map-point__content bottom-center">
            <div class="swiper map-slider">
              <button class="btn-reset slider-nav__btn slider-nav__btn--prev map-slider__btn--prev swiper-button-disabled" aria-label="Prev"></button>
              <button class="btn-reset slider-nav__btn slider-nav__btn--next map-slider__btn--next" aria-label="Next"></button>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="map-slider__slide">
                    <picture>
                      <source srcset="img/house.avif" type="image/avif">
                      <source srcset="img/house.webp" type="image/webp">
                      <img loading="lazy" src="img/house.jpg" class="map-slider__image" width="343" height="179" alt="Project name 1500 mt2">
                    </picture>
                    <a href="project.html" class="map-slider__title">Project name 1500 mt<sup>2</sup></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="map-slider__slide">
                    <picture>
                      <source srcset="img/house.avif" type="image/avif">
                      <source srcset="img/house.webp" type="image/webp">
                      <img loading="lazy" src="img/house.jpg" class="map-slider__image" width="343" height="179" alt="Project name 1500 mt2">
                    </picture>
                    <a href="project.html" class="map-slider__title">Project name 1500 mt<sup>2</sup></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="map-point" style="top: 18%; left: 65.8%;">
          <svg class="map-point__icon">
            <use xlink:href="img/sprite.svg#shape"></use>
          </svg>
          <div class="map-point__content bottom-left">
            <div class="swiper map-slider">
              <button class="btn-reset slider-nav__btn slider-nav__btn--prev map-slider__btn--prev swiper-button-disabled" aria-label="Prev"></button>
              <button class="btn-reset slider-nav__btn slider-nav__btn--next map-slider__btn--next" aria-label="Next"></button>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="map-slider__slide">
                    <picture>
                      <source srcset="img/house.avif" type="image/avif">
                      <source srcset="img/house.webp" type="image/webp">
                      <img loading="lazy" src="img/house.jpg" class="map-slider__image" width="343" height="179" alt="Project name 1500 mt2">
                    </picture>
                    <a href="project.html" class="map-slider__title">Project name 1500 mt<sup>2</sup></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="map-slider__slide">
                    <picture>
                      <source srcset="img/house.avif" type="image/avif">
                      <source srcset="img/house.webp" type="image/webp">
                      <img loading="lazy" src="img/house.jpg" class="map-slider__image" width="343" height="179" alt="Project name 1500 mt2">
                    </picture>
                    <a href="project.html" class="map-slider__title">Project name 1500 mt<sup>2</sup></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>