<section class="section fp-auto-height not-found">
  <div class="not-found__container">
    <div class="not-found__left">
      <h1 class="g-title g-title--sm not-found__title">We haven’t built that yet</h1>
      <p class="not-found__desc">Looks like the page you are trying to reach does not exist, but since you are here take some time to get to know our projects.</p>
      <a href="/" class="not-found__link">Discover projects</a>
    </div>
    <picture>
      <source srcset="img/404.avif" type="image/avif">
      <source srcset="img/404.webp" type="image/webp">
      <img loading="lazy" src="img/404.jpg" class="not-found__image" width="1130" height="1080" alt="We haven’t
      built that yet">
    </picture>
  </div>
</section>