<div class="slide">
  <picture>
    <source srcset="img/architecture.avif" type="image/avif">
    <source srcset="img/architecture.webp" type="image/webp">
    <img loading="lazy" src="img/architecture.jpg" class="slide__image" alt="Country villa">
  </picture>
  <div class="switcher">
    <div class="switcher-lang">
      <a href="#" class="switcher-lang__link">Rus</a>
      <a class="switcher-lang__link switcher-lang__link--current">Eng</a>
    </div>
    <button class="btn-reset toggle-theme">Light mode</button>
  </div>
  <span class="scroll-down"></span>
</div>
<section class="project-details">
  <div class="project-details__left">
    <div class="project-details__content">
      <h1 class="g-title project-details__title">Country villa</h1>
      <p class="project-details__desc">
        Country villa of 500m2 for a family of 5 people.
        The peculiarity of the layout is that in the center of the
        house there is an "open living room", the center of the entire composition, opening panoramic windows in good
        weather, the living room is transformed into a courtyard. Living rooms are placed in separate volumes that
        create the outline of the house. On the second floor there is a large library with a fireplace.
      </p>
      <div class="list-reset project-info">
        <div class="project-info__col">
          <h2 class="project-info__title">project information</h2>
          <div class="project-info__item">
            Location <span>Finland</span>
          </div>
          <div class="project-info__item">
            area <span>500m2</span>
          </div>
          <div class="project-info__item">
            year <span>2020</span>
          </div>
        </div>
        <div class="project-info__col">
          <h2 class="project-info__title">recognition</h2>
          <div class="project-info__item">
            <span>Architectural Digest</span>
          </div>
          <div class="project-info__item">
            <span>Elle Decor</span>
          </div>
          <div class="project-info__item">
            <span>Design Boom</span>
          </div>
        </div>
      </div>
      <h3 class="awards-slider__title">Awards</h3>
      <div class="awards-slider">
        <button class="btn-reset slider-nav__btn slider-nav__btn--prev awards-slider__btn awards-slider__btn--prev swiper-button-disabled" aria-label="Prev"></button>
        <button class="btn-reset slider-nav__btn slider-nav__btn--next awards-slider__btn awards-slider__btn--next" aria-label="Next"></button>
        <div class="swiper awards-slider__wrapper">
          <div class="swiper-wrapper">
            <div class="swiper-slide awards-slider__slide">
              <svg class="awards-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
            <div class="swiper-slide awards-slider__slide">
              <svg class="awards-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
            <div class="swiper-slide awards-slider__slide">
              <svg class="awards-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
            <div class="swiper-slide awards-slider__slide">
              <svg class="awards-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project-details__right">
    <picture>
      <source srcset="img/villa.avif" type="image/avif">
      <source srcset="img/villa.webp" type="image/webp">
      <img loading="lazy" src="img/villa.jpg" class="project-details__image" width="910" height="1080"
        alt="Country villa">
    </picture>
  </div>
</section>
<div class="project-slide">
  <picture>
    <source srcset="img/architecture.avif" type="image/avif">
    <source srcset="img/architecture.webp" type="image/webp">
    <img loading="lazy" src="img/architecture.jpg" class="project-slide__image" alt="Country villa">
  </picture>
</div>