<section class="projects list">
  <div class="container projects__container">
    <div class="projects-top">
      <button class="btn-reset projects-tabs__current">
        <span>All projects</span>
        <svg class="">
          <use xlink:href="img/sprite.svg#chevron-down"></use>
        </svg>
      </button>
      <ul class="list-reset projects-tabs">
        <li class="projects-tabs__item">
          <button class="btn-reset projects-tabs__btn active" id="all">all projects</button>
        </li>
        <li class="projects-tabs__item">
          <button class="btn-reset projects-tabs__btn" id="architecture">Architecture</button>
        </li>
        <li class="projects-tabs__item">
          <button class="btn-reset projects-tabs__btn" id="interior">interior</button>
        </li>
        <li class="projects-tabs__item">
          <button class="btn-reset projects-tabs__btn" id="art">art</button>
        </li>
      </ul>
      <button class="btn-reset projects-toggle">view grid</button>
      <button class="btn-reset projects__toggle-theme toggle-theme">Light mode</button>
    </div>
    <div class="projects-list">
      <div class="projects-list__top">
        <div class="projects-list__value">
          <button class="btn-reset projects-list__btn">
            Project
            <svg class="">
              <use xlink:href="img/sprite.svg#chevron-down"></use>
            </svg>
          </button>
        </div>
        <div class="projects-list__value">
          <button class="btn-reset projects-list__btn">
            country
            <svg class="">
              <use xlink:href="img/sprite.svg#chevron-down"></use>
            </svg>
          </button>
        </div>
        <div class="projects-list__value">
          <button class="btn-reset projects-list__btn">
            location
            <svg class="">
              <use xlink:href="img/sprite.svg#chevron-down"></use>
            </svg>
          </button>
        </div>
        <div class="projects-list__value">
          <button class="btn-reset projects-list__btn">
            year
            <svg class="">
              <use xlink:href="img/sprite.svg#chevron-down"></use>
            </svg>
          </button>
        </div>
        <div class="projects-list__value">
          <button class="btn-reset projects-list__btn">
            type
            <svg class="">
              <use xlink:href="img/sprite.svg#chevron-down"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="list-reset projects-items">
        <a href="project.html" data-image-path="1" class="projects-item sort-item all active architecture">
          <span class="projects-item__title">House by the hill1</span>
          <span class="projects-item__country">Finland</span>
          <span class="projects-item__location">Helsinki</span>
          <span class="projects-item__year">2021</span>
          <span class="projects-item__type">Residence</span>
        </a>
        <a href="project.html" data-image-path="2" class="projects-item sort-item all active art">
          <span class="projects-item__title">House by the hill2</span>
          <span class="projects-item__country">Finland</span>
          <span class="projects-item__location">Helsinki</span>
          <span class="projects-item__year">2021</span>
          <span class="projects-item__type">Residence</span>
        </a>
        <a href="project.html" data-image-path="3" class="projects-item sort-item all active interior">
          <span class="projects-item__title">House by the hill3</span>
          <span class="projects-item__country">Finland</span>
          <span class="projects-item__location">Helsinki</span>
          <span class="projects-item__year">2021</span>
          <span class="projects-item__type">Residence</span>
        </a>
        <a href="project.html" data-image-path="4" class="projects-item sort-item all active">
          <span class="projects-item__title">House by the hill4</span>
          <span class="projects-item__country">Finland</span>
          <span class="projects-item__location">Helsinki</span>
          <span class="projects-item__year">2021</span>
          <span class="projects-item__type">Residence</span>
        </a>
      </div>
      <div class="projects-images" aria-hidden="true" style="opacity: 0;">
        <a href="project.html" data-image-target="1" class="projects-images__image">
          <picture>
            <source srcset="img/projects-item.avif" type="image/avif">
            <source srcset="img/projects-item.webp" type="image/webp">
            <img src="img/projects-item.jpg" width="494" height="197" alt="House by the hill">
          </picture>
        </a>
        <a href="project.html" data-image-target="2" class="projects-images__image">
          <picture>
            <source srcset="img/architecture.avif" type="image/avif">
            <source srcset="img/architecture.webp" type="image/webp">
            <img src="img/architecture.jpg" width="494" height="197" alt="House by the hill">
          </picture>
        </a>
        <a href="project.html" data-image-target="3" class="projects-images__image">
          <picture>
            <source srcset="img/villa-2.avif" type="image/avif">
            <source srcset="img/villa-2.webp" type="image/webp">
            <img src="img/villa-2.jpg" width="494" height="197" alt="House by the hill">
          </picture>
        </a>
        <a href="project.html" data-image-target="4" class="projects-images__image">
          <picture>
            <source srcset="img/villa-3.avif" type="image/avif">
            <source srcset="img/villa-3.webp" type="image/webp">
            <img src="img/villa-3.jpg" width="494" height="197" alt="House by the hill">
          </picture>
        </a>
      </div>
    </div>
    <div class="projects-grid">
      <a href="project.html" class="grid-item sort-item active all architecture projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
      <a href="project.html" class="grid-item sort-item active all interior projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
      <a href="project.html" class="grid-item sort-item active all architecture projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
      <a href="project.html" class="grid-item sort-item active all interior projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
      <a href="project.html" class="grid-item sort-item active all art projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
      <a href="project.html" class="grid-item sort-item active all architecture projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
      <a href="project.html" class="grid-item sort-item active all projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
      <a href="project.html" class="grid-item sort-item active all art projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
      <a href="project.html" class="grid-item sort-item active all interior projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
      <a href="project.html" class="grid-item sort-item active all architecture projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
      <a href="project.html" class="grid-item sort-item active all projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
      <a href="project.html" class="grid-item sort-item active all projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
      <a href="project.html" class="grid-item sort-item active all projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
      <a href="project.html" class="grid-item sort-item active all projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
      <a href="project.html" class="grid-item sort-item active all architecture projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
      <a href="project.html" class="grid-item sort-item active all art projects-grid__item">
        <picture>
          <source srcset="img/villa.avif" type="image/avif">
          <source srcset="img/villa.webp" type="image/webp">
          <img loading="lazy" src="img/villa.jpg" class="grid-item__image" width="636" height="911"
            alt="House on the shore">
        </picture>
        <div class="grid-item__content">
          <span class="grid-item__caption">award winning project</span>
          <h2 class="grid-item__title">House on the shore</h2>
          <p class="grid-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
          <span class="grid-item__link">discover the project</span>
        </div>
      </a>
    </div>
  </div>
</section>