<section class="recognition">
  <div class="container recognition__container">
    <h2 class="g-title g-title--md recognition__title">Recognition</h2>
    <div class="recognition-slider">
      <h3 class="recognition-slider__title">
        awards
      </h3>
      <div class="swiper recognition-slider__wrapper">
        <button class="btn-reset slider-nav__btn slider-nav__btn--prev recognition-slider__btn recognition-slider__btn--prev swiper-button-disabled" aria-label="Prev"></button>
        <button class="btn-reset slider-nav__btn slider-nav__btn--next recognition-slider__btn recognition-slider__btn--next" aria-label="Next"></button>
        <div class="swiper recognition-slider__inner">
          <div class="swiper-wrapper">
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/architizer.avif" type="image/avif">
                <source srcset="img/architizer.webp" type="image/webp">
                <img loading="lazy" src="img/architizer.png" class="recognition-slider__image" width="269" height="25" alt="Arard 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/adesign.avif" type="image/avif">
                <source srcset="img/adesign.webp" type="image/webp">
                <img loading="lazy" src="img/adesign.png" class="recognition-slider__image" width="263" height="42" alt="Arard 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/architizer.avif" type="image/avif">
                <source srcset="img/architizer.webp" type="image/webp">
                <img loading="lazy" src="img/architizer.png" class="recognition-slider__image" width="269" height="25" alt="Arard 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/adesign.avif" type="image/avif">
                <source srcset="img/adesign.webp" type="image/webp">
                <img loading="lazy" src="img/adesign.png" class="recognition-slider__image" width="263" height="42" alt="Arard 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/architizer.avif" type="image/avif">
                <source srcset="img/architizer.webp" type="image/webp">
                <img loading="lazy" src="img/architizer.png" class="recognition-slider__image" width="269" height="25" alt="Arard 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/adesign.avif" type="image/avif">
                <source srcset="img/adesign.webp" type="image/webp">
                <img loading="lazy" src="img/adesign.png" class="recognition-slider__image" width="263" height="42" alt="Arard 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/architizer.avif" type="image/avif">
                <source srcset="img/architizer.webp" type="image/webp">
                <img loading="lazy" src="img/architizer.png" class="recognition-slider__image" width="269" height="25" alt="Arard 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/adesign.avif" type="image/avif">
                <source srcset="img/adesign.webp" type="image/webp">
                <img loading="lazy" src="img/adesign.png" class="recognition-slider__image" width="263" height="42" alt="Arard 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/architizer.avif" type="image/avif">
                <source srcset="img/architizer.webp" type="image/webp">
                <img loading="lazy" src="img/architizer.png" class="recognition-slider__image" width="269" height="25" alt="Arard 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/adesign.avif" type="image/avif">
                <source srcset="img/adesign.webp" type="image/webp">
                <img loading="lazy" src="img/adesign.png" class="recognition-slider__image" width="263" height="42" alt="Arard 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/architizer.avif" type="image/avif">
                <source srcset="img/architizer.webp" type="image/webp">
                <img loading="lazy" src="img/architizer.png" class="recognition-slider__image" width="269" height="25" alt="Arard 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/adesign.avif" type="image/avif">
                <source srcset="img/adesign.webp" type="image/webp">
                <img loading="lazy" src="img/adesign.png" class="recognition-slider__image" width="263" height="42" alt="Arard 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/architizer.avif" type="image/avif">
                <source srcset="img/architizer.webp" type="image/webp">
                <img loading="lazy" src="img/architizer.png" class="recognition-slider__image" width="269" height="25" alt="Arard 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/adesign.avif" type="image/avif">
                <source srcset="img/adesign.webp" type="image/webp">
                <img loading="lazy" src="img/adesign.png" class="recognition-slider__image" width="263" height="42" alt="Arard 1">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="recognition-slider">
      <h3 class="recognition-slider__title">
        websites
      </h3>
      <div class="swiper recognition-slider__wrapper">
        <button class="btn-reset slider-nav__btn slider-nav__btn--prev recognition-slider__btn recognition-slider__btn--prev swiper-button-disabled" aria-label="Prev"></button>
        <button class="btn-reset slider-nav__btn slider-nav__btn--next recognition-slider__btn recognition-slider__btn--next" aria-label="Next"></button>
        <div class="swiper recognition-slider__inner">
          <div class="swiper-wrapper">
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/archday.avif" type="image/avif">
                <source srcset="img/archday.webp" type="image/webp">
                <img loading="lazy" src="img/archday.png" class="recognition-slider__image" width="188" height="94" alt="Website 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/elle.avif" type="image/avif">
                <source srcset="img/elle.webp" type="image/webp">
                <img loading="lazy" src="img/elle.png" class="recognition-slider__image" width="176" height="88" alt="Website 2">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/interior.avif" type="image/avif">
                <source srcset="img/interior.webp" type="image/webp">
                <img loading="lazy" src="img/interior.png" class="recognition-slider__image" width="214" height="73" alt="Website 3">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/ad.avif" type="image/avif">
                <source srcset="img/ad.webp" type="image/webp">
                <img loading="lazy" src="img/ad.png" class="recognition-slider__image" width="232" height="85" alt="Website 4">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/loffi.avif" type="image/avif">
                <source srcset="img/loffi.webp" type="image/webp">
                <img loading="lazy" src="img/loffi.png" class="recognition-slider__image" width="226" height="298" alt="Website 5">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/archday.avif" type="image/avif">
                <source srcset="img/archday.webp" type="image/webp">
                <img loading="lazy" src="img/archday.png" class="recognition-slider__image" width="188" height="94" alt="Website 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/elle.avif" type="image/avif">
                <source srcset="img/elle.webp" type="image/webp">
                <img loading="lazy" src="img/elle.png" class="recognition-slider__image" width="176" height="88" alt="Website 2">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/interior.avif" type="image/avif">
                <source srcset="img/interior.webp" type="image/webp">
                <img loading="lazy" src="img/interior.png" class="recognition-slider__image" width="214" height="73" alt="Website 3">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/ad.avif" type="image/avif">
                <source srcset="img/ad.webp" type="image/webp">
                <img loading="lazy" src="img/ad.png" class="recognition-slider__image" width="232" height="85" alt="Website 4">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/loffi.avif" type="image/avif">
                <source srcset="img/loffi.webp" type="image/webp">
                <img loading="lazy" src="img/loffi.png" class="recognition-slider__image" width="226" height="298" alt="Website 5">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="recognition-slider">
      <h3 class="recognition-slider__title">
        magazines
      </h3>
      <div class="swiper recognition-slider__wrapper">
        <button class="btn-reset slider-nav__btn slider-nav__btn--prev recognition-slider__btn recognition-slider__btn--prev swiper-button-disabled" aria-label="Prev"></button>
        <button class="btn-reset slider-nav__btn slider-nav__btn--next recognition-slider__btn recognition-slider__btn--next" aria-label="Next"></button>
        <div class="swiper recognition-slider__inner">
          <div class="swiper-wrapper">
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/magazine-1.avif" type="image/avif">
                <source srcset="img/magazine-1.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-1.png" class="recognition-slider__image" width="226" height="298" alt="Magazine 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/magazine-2.avif" type="image/avif">
                <source srcset="img/magazine-2.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-2.png" class="recognition-slider__image" width="226" height="298" alt="Magazine 2">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/magazine-3.avif" type="image/avif">
                <source srcset="img/magazine-3.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-3.png" class="recognition-slider__image" width="226" height="298" alt="Magazine 3">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/magazine-4.avif" type="image/avif">
                <source srcset="img/magazine-4.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-4.png" class="recognition-slider__image" width="226" height="298" alt="Magazine 4">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/magazine-5.avif" type="image/avif">
                <source srcset="img/magazine-5.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-5.png" class="recognition-slider__image" width="226" height="298" alt="Magazine 5">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/magazine-1.avif" type="image/avif">
                <source srcset="img/magazine-1.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-1.png" class="recognition-slider__image" width="226" height="298" alt="Magazine 1">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/magazine-2.avif" type="image/avif">
                <source srcset="img/magazine-2.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-2.png" class="recognition-slider__image" width="226" height="298" alt="Magazine 2">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/magazine-3.avif" type="image/avif">
                <source srcset="img/magazine-3.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-3.png" class="recognition-slider__image" width="226" height="298" alt="Magazine 3">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/magazine-4.avif" type="image/avif">
                <source srcset="img/magazine-4.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-4.png" class="recognition-slider__image" width="226" height="298" alt="Magazine 4">
              </picture>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <picture>
                <source srcset="img/magazine-5.avif" type="image/avif">
                <source srcset="img/magazine-5.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-5.png" class="recognition-slider__image" width="226" height="298" alt="Magazine 5">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>