<section class="recognition">
  <div class="container recognition__container">
    <h2 class="g-title g-title--md recognition__title">Recognition</h2>
    <div class="recognition-slider">
      <h3 class="recognition-slider__title">
        awards
      </h3>
      <div class="swiper recognition-slider__wrapper">
        <button class="btn-reset slider-nav__btn slider-nav__btn--prev recognition-slider__btn recognition-slider__btn--prev swiper-button-disabled" aria-label="Prev"></button>
        <button class="btn-reset slider-nav__btn slider-nav__btn--next recognition-slider__btn recognition-slider__btn--next" aria-label="Next"></button>
        <div class="swiper recognition-slider__inner">
          <div class="swiper-wrapper">
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="263" height="42">
                <use xlink:href="img/sprite.svg#adesign"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="263" height="42">
                <use xlink:href="img/sprite.svg#adesign"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="263" height="42">
                <use xlink:href="img/sprite.svg#adesign"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="263" height="42">
                <use xlink:href="img/sprite.svg#adesign"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="263" height="42">
                <use xlink:href="img/sprite.svg#adesign"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="263" height="42">
                <use xlink:href="img/sprite.svg#adesign"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="recognition-slider">
      <h3 class="recognition-slider__title">
        websites
      </h3>
      <div class="swiper recognition-slider__wrapper">
        <button class="btn-reset slider-nav__btn slider-nav__btn--prev recognition-slider__btn recognition-slider__btn--prev swiper-button-disabled" aria-label="Prev"></button>
        <button class="btn-reset slider-nav__btn slider-nav__btn--next recognition-slider__btn recognition-slider__btn--next" aria-label="Next"></button>
        <div class="swiper recognition-slider__inner">
          <div class="swiper-wrapper">
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="263" height="42">
                <use xlink:href="img/sprite.svg#adesign"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="263" height="42">
                <use xlink:href="img/sprite.svg#adesign"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="263" height="42">
                <use xlink:href="img/sprite.svg#adesign"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="263" height="42">
                <use xlink:href="img/sprite.svg#adesign"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="263" height="42">
                <use xlink:href="img/sprite.svg#adesign"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="269" height="25">
                <use xlink:href="img/sprite.svg#architizer"></use>
              </svg>
            </div>
            <div class="swiper-slide recognition-slider__slide">
              <svg class="recognition-slider__image" width="263" height="42">
                <use xlink:href="img/sprite.svg#adesign"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="recognition-slider">
      <h3 class="recognition-slider__title">
        magazines
      </h3>
      <div class="swiper recognition-slider__wrapper">
        <button class="btn-reset slider-nav__btn slider-nav__btn--prev recognition-slider__btn recognition-slider__btn--prev swiper-button-disabled" aria-label="Prev"></button>
        <button class="btn-reset slider-nav__btn slider-nav__btn--next recognition-slider__btn recognition-slider__btn--next" aria-label="Next"></button>
        <div class="swiper recognition-slider__inner">
          <div class="swiper-wrapper">
            <a href="#" class="swiper-slide recognition-slider__slide recognition-slider__slide--hover">
              <picture>
                <source srcset="img/magazine-2.avif" type="image/avif">
                <source srcset="img/magazine-2.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-2.jpg" class="recognition-slider__image" width="226" height="298" alt="Magazine 2">
              </picture>
            </a>
            <a href="#" class="swiper-slide recognition-slider__slide recognition-slider__slide--hover">
              <picture>
                <source srcset="img/magazine-2.avif" type="image/avif">
                <source srcset="img/magazine-2.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-2.jpg" class="recognition-slider__image" width="226" height="298" alt="Magazine 2">
              </picture>
            </a>
            <a href="#" class="swiper-slide recognition-slider__slide recognition-slider__slide--hover">
              <picture>
                <source srcset="img/magazine-2.avif" type="image/avif">
                <source srcset="img/magazine-2.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-2.jpg" class="recognition-slider__image" width="226" height="298" alt="Magazine 2">
              </picture>
            </a>
            <a href="#" class="swiper-slide recognition-slider__slide recognition-slider__slide--hover">
              <picture>
                <source srcset="img/magazine-2.avif" type="image/avif">
                <source srcset="img/magazine-2.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-2.jpg" class="recognition-slider__image" width="226" height="298" alt="Magazine 2">
              </picture>
            </a>
            <a href="#" class="swiper-slide recognition-slider__slide recognition-slider__slide--hover">
              <picture>
                <source srcset="img/magazine-2.avif" type="image/avif">
                <source srcset="img/magazine-2.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-2.jpg" class="recognition-slider__image" width="226" height="298" alt="Magazine 2">
              </picture>
            </a>
            <a href="#" class="swiper-slide recognition-slider__slide recognition-slider__slide--hover">
              <picture>
                <source srcset="img/magazine-2.avif" type="image/avif">
                <source srcset="img/magazine-2.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-2.jpg" class="recognition-slider__image" width="226" height="298" alt="Magazine 2">
              </picture>
            </a>
            <a href="#" class="swiper-slide recognition-slider__slide recognition-slider__slide--hover">
              <picture>
                <source srcset="img/magazine-2.avif" type="image/avif">
                <source srcset="img/magazine-2.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-2.jpg" class="recognition-slider__image" width="226" height="298" alt="Magazine 2">
              </picture>
            </a>
            <a href="#" class="swiper-slide recognition-slider__slide recognition-slider__slide--hover">
              <picture>
                <source srcset="img/magazine-2.avif" type="image/avif">
                <source srcset="img/magazine-2.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-2.jpg" class="recognition-slider__image" width="226" height="298" alt="Magazine 2">
              </picture>
            </a>
            <a href="#" class="swiper-slide recognition-slider__slide recognition-slider__slide--hover">
              <picture>
                <source srcset="img/magazine-2.avif" type="image/avif">
                <source srcset="img/magazine-2.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-2.jpg" class="recognition-slider__image" width="226" height="298" alt="Magazine 2">
              </picture>
            </a>
            <a href="#" class="swiper-slide recognition-slider__slide recognition-slider__slide--hover">
              <picture>
                <source srcset="img/magazine-2.avif" type="image/avif">
                <source srcset="img/magazine-2.webp" type="image/webp">
                <img loading="lazy" src="img/magazine-2.jpg" class="recognition-slider__image" width="226" height="298" alt="Magazine 2">
              </picture>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>