<section class="section fp-auto-height related">
  <div class="related__container">
    <div class="container">
      <h2 class="g-title g-title--md related__title">related projects</h2>
    </div>
    <div class="swiper related-slider">
      <button class="btn-reset slider-nav__btn slider-nav__btn--prev related-slider__btn--prev swiper-button-disabled" aria-label="Prev"></button>
      <button class="btn-reset slider-nav__btn slider-nav__btn--next related-slider__btn--next" aria-label="Next"></button>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="project.html" class="project-item">
            <picture>
              <source srcset="img/villa.avif" type="image/avif">
              <source srcset="img/villa.webp" type="image/webp">
              <img loading="lazy" src="img/villa.jpg" class="project-item__image" width="636" height="911" alt="House on the shore">
            </picture>
            <div class="project-item__content">
              <span class="project-item__caption">award winning project</span>
              <h2 class="project-item__title">Interiors</h2>
              <p class="project-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
              <span class="project-item__link">View projects</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="project.html" class="project-item">
            <picture>
              <source srcset="img/villa.avif" type="image/avif">
              <source srcset="img/villa.webp" type="image/webp">
              <img loading="lazy" src="img/villa.jpg" class="project-item__image" width="636" height="911" alt="House on the shore">
            </picture>
            <div class="project-item__content">
              <span class="project-item__caption">award winning project</span>
              <h2 class="project-item__title">Interiors</h2>
              <p class="project-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
              <span class="project-item__link">View projects</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="project.html" class="project-item">
            <picture>
              <source srcset="img/villa.avif" type="image/avif">
              <source srcset="img/villa.webp" type="image/webp">
              <img loading="lazy" src="img/villa.jpg" class="project-item__image" width="636" height="911" alt="House on the shore">
            </picture>
            <div class="project-item__content">
              <span class="project-item__caption">award winning project</span>
              <h2 class="project-item__title">Interiors</h2>
              <p class="project-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
              <span class="project-item__link">View projects</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="project.html" class="project-item">
            <picture>
              <source srcset="img/villa.avif" type="image/avif">
              <source srcset="img/villa.webp" type="image/webp">
              <img loading="lazy" src="img/villa.jpg" class="project-item__image" width="636" height="911" alt="House on the shore">
            </picture>
            <div class="project-item__content">
              <span class="project-item__caption">award winning project</span>
              <h2 class="project-item__title">Interiors</h2>
              <p class="project-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
              <span class="project-item__link">View projects</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="project.html" class="project-item">
            <picture>
              <source srcset="img/villa.avif" type="image/avif">
              <source srcset="img/villa.webp" type="image/webp">
              <img loading="lazy" src="img/villa.jpg" class="project-item__image" width="636" height="911" alt="House on the shore">
            </picture>
            <div class="project-item__content">
              <span class="project-item__caption">award winning project</span>
              <h2 class="project-item__title">Interiors</h2>
              <p class="project-item__desc">Architecture | Finland | 800 mt<sup>2</sup> | 2020</p>
              <span class="project-item__link">View projects</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>