<section class="team">
  <div class="container team__container">
    <h2 class="g-title g-title--md team__title">team</h2>
    <div class="team-slider">
      <button class="btn-reset slider-nav__btn slider-nav__btn--prev team-slider__btn team-slider__btn--prev swiper-button-disabled" aria-label="Prev"></button>
      <button class="btn-reset slider-nav__btn slider-nav__btn--next team-slider__btn team-slider__btn--next" aria-label="Next"></button>
      <div class="swiper team-slider__wrapper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="team-item">
              <picture>
                <source srcset="img/team-1.avif" type="image/avif">
                <source srcset="img/team-1.webp" type="image/webp">
                <img loading="lazy" src="img/team-1.jpg" class="team-item__image" width="370" height="712" alt="shamsudin Kerimov">
              </picture>
              <h3 class="team-item__name">shamsudin Kerimov</h3>
              <span class="team-item__job-title">Architect and Founder</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="team-item">
              <picture>
                <source srcset="img/team-2.avif" type="image/avif">
                <source srcset="img/team-2.webp" type="image/webp">
                <img loading="lazy" src="img/team-2.jpg" class="team-item__image" width="370" height="712" alt="Ekaterina Kudinova">
              </picture>
              <h3 class="team-item__name">Ekaterina Kudinova</h3>
              <span class="team-item__job-title">Architect and co-Founder</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="team-item">
              <picture>
                <source srcset="img/team-1.avif" type="image/avif">
                <source srcset="img/team-1.webp" type="image/webp">
                <img loading="lazy" src="img/team-1.jpg" class="team-item__image" width="370" height="712" alt="shamsudin Kerimov">
              </picture>
              <h3 class="team-item__name">shamsudin Kerimov</h3>
              <span class="team-item__job-title">Architect and Founder</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="team-item">
              <picture>
                <source srcset="img/team-2.avif" type="image/avif">
                <source srcset="img/team-2.webp" type="image/webp">
                <img loading="lazy" src="img/team-2.jpg" class="team-item__image" width="370" height="712" alt="Ekaterina Kudinova">
              </picture>
              <h3 class="team-item__name">Ekaterina Kudinova</h3>
              <span class="team-item__job-title">Architect and co-Founder</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="team-item">
              <picture>
                <source srcset="img/team-1.avif" type="image/avif">
                <source srcset="img/team-1.webp" type="image/webp">
                <img loading="lazy" src="img/team-1.jpg" class="team-item__image" width="370" height="712" alt="shamsudin Kerimov">
              </picture>
              <h3 class="team-item__name">shamsudin Kerimov</h3>
              <span class="team-item__job-title">Architect and Founder</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="team-item">
              <picture>
                <source srcset="img/team-2.avif" type="image/avif">
                <source srcset="img/team-2.webp" type="image/webp">
                <img loading="lazy" src="img/team-2.jpg" class="team-item__image" width="370" height="712" alt="Ekaterina Kudinova">
              </picture>
              <h3 class="team-item__name">Ekaterina Kudinova</h3>
              <span class="team-item__job-title">Architect and co-Founder</span>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-pagination team-slider__pag"></div>
    </div>
  </div>
</section>