:root {
  // base
  --font-family: "Montserrat", sans-serif;
  --min-width: 320px;

  // colors
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #3d3b38;
  --color-dark: #1c1c1c;
}

.dark-mode {
  --color-white: #1c1c1c;
  --color-gray: #fff;
  --color-dark: #fff;
}